.vs/
/.vscode
*__pycache__*
*.log
*.pyproj
*.pyc
*.sln
*.user
test_outputs/
doc/build/
doc/source/_build/
doc/source/nanome.*
doc/source/modules.rst
build/
dist/
nanome.egg-info/
nanome/plugin-template.zip
