language: python
language: python
sudo: required
dist: xenial
python:
  - "2.7"
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - python tests.py
