name: Unittests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  python3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip coverage
          pip install -e .
      - name: Run tests.py
        run: coverage run --source=nanome --omit=nanome/util/py2_enum.py -m unittest discover -s testing --pattern *_tests.py
      - name: print coverage percentage
        run: coverage report | grep TOTAL
  python3-schemas:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.7.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip coverage
          pip install -e .['schemas']
      - name: Run tests.py
        run: coverage run --source=nanome --omit=nanome/util/py2_enum.py -m unittest discover -s testing --pattern *_tests.py
      - name: print coverage percentage
        run: coverage report | grep TOTAL
  python2:
    runs-on: ubuntu-latest
    if: ${{ false }} # disable for now
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 2
        uses: actions/setup-python@v1
        with:
          python-version: 2.7.18
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install mock
      - name: Run tests.py
        run: python tests.py
